<!DOCTYPE html>
<html lang="en">
  <head>
    Chat-bot for Chandler from 'Friends' TVShow
  </head>	
  <body class="main">
  	<p><a href="/ping">Test server</a></p>
  	<p><a href="/request?query='hey!'&type=slow">Test 1 (simple question, slow)</a></p>
  	<p><a href="/request?query='hey!'&type=fast">Test 2 (simple question, fast)</a></p>
  	<p><a href="/request?query='oh my god!'&type=slow">Test 3 (often question, slow)</a></p>
  	<p><a href="/retrieve?query='what are you doing?'&type=fast&num_answers=10">Test 4 (often question, 10 relevant answers, fast)</a></p>
  	<p><a href="/dialog?query_1='hello!'&query_2='how are you?'&query_3='what're you doing this evening?'&type=slow">Test 5 (dialog, slow)</a></p>
  </body>
</html>
